
body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom right, #C66EE8, #FFCCE7);
	background-size: cover;
	height: 150vh; 
	
	
}


.titulo{
	text-align: center;
	color:  black;
	font-size: 50px;
	cursor: pointer;
	display: block;
  	position: relative;
  	font-weight: 700;

  	
}

h1.titulo span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
h1.titulo span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
h1:hover.titulo span {
  visibility: visible;
  opacity: 0.9;
  top: 4rem;
  left: 20%;
  z-index: 999;
}


.triangulo{
	width: 22.5rem;
	display: flex;
	align-items: center;
	margin: 3rem auto auto auto;

}


.inputA{
	cursor: pointer;
	display: block;
  	position: relative;
}

div.inputA span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.inputA span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.inputA span {
  visibility: visible;
  opacity: 0.9;
  top:-12rem;
  left:53%;
  z-index: 999;
}

.inputB{
	cursor: pointer;
	display: block;
  	position: relative;
}

div.inputB span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.inputB span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.inputB span {
  visibility: visible;
  opacity: 0.9;
  top:-6rem;
  left:40%;
  z-index: 999;
}


input{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.313rem;
	border: none;
	text-align: center;
	color: #355764;
	font-size: 16px;
	font-weight: 600;
}


input::placeholder{
	text-align: center;
	font-weight: 700; 
	color: #355764;
}

.aInput{
	position: relative;
	left: 54rem;
	top: -15.625rem;

}

.bInput{
	position: relative;
	left: 44rem;
	top: -9.5rem;

}

.botao{
	position: relative;
	width: 9.438rem;
	height: 2.5rem;
	border-radius: 0.313rem;
	border: 1px solid #355764;
	background-color: #5C2E7E;
	color: #DFD3C3;
	left: 37rem;
	font-weight: 700;
	top:-2.5rem;
	

}

.botao:hover{
	background-color: #C66EE8;
	color: black;
	cursor: pointer;
}

.resultado{
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	left: 36rem;
	top: -22rem;
	border-radius: 0.313rem;
	background-color: #FFFFFF;
	cursor: pointer;
	display: block;
	
}

div.resultado span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.resultado span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.resultado span {
  visibility: visible;
  opacity: 0.9;
  top:1rem;
  right: 1%;
  z-index: 999;
}

.texto{
	text-align: center;
	position: relative;
	top:12px;
	font-weight: 600;
	color: #355764;

}

@media only screen and (max-width: 1440px){
	.triangulo{
	margin: 8rem auto auto auto;

}

.titulo{
	
	margin-top: 10rem;

  	
}

.aInput{
	left: 58rem;

}


.bInput{
	left: 48rem;	
}

.botao{
	
	left: 40rem;
	
}

.resultado{
	
	left: 38rem;
		
}

}

@media only screen and (max-width: 1400px) {
	

h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

	.aInput{
		left: 56rem;
		
	
	}
	
	.bInput{
		left: 45rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:40%;
  
}
	
	.botao{
		left: 38rem;
	}
	

	.resultado{
		left: 35rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}
}

@media only screen and (max-width: 1024px) {
	

h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

	.aInput{
		left: 45rem;
		
	
	}
	
	.bInput{
		left: 35rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:40%;
  
}
	
	.botao{
		left: 28rem;
	}
	

	.resultado{
		left: 25rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}
}

@media only screen and (max-width: 768px) {
	

.titulo{
	font-size: 35px;
	
}

h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

	.aInput{
		left: 36.25rem;
		
	
	}
	
	.bInput{
		left: 26rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:33%;
  
}
	
	.botao{
		left: 18.75rem;
	}
	

	.resultado{
		left: 17.5rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}
}

@media only screen and (max-width: 425px) {
	

	.triangulo{
	width: 15rem;

}

.titulo{
	margin-top: 4rem;
}

h1.titulo span {
  font-size: 12px;
  
}

	.aInput{
		left: 20rem;
		margin-top: 2rem;

		
		
	
	}
	
	.bInput{
		left:15rem;
		margin-top: 0.3rem;



	}
	
	.botao{
		top: -4rem;
		left: 8rem;
	}
	

	.resultado{
		left: 10rem;
		
	}
}
	


@media only screen and (max-width: 375px) {
	

	.triangulo{
	width: 15rem;

}

.titulo{
	margin-top: 4rem;
}

h1.titulo span {
  font-size: 12px;
  
}

	.aInput{
		left: 19rem;
		margin-top: 2rem;

		
		
	
	}
	
	.bInput{
		left:14rem;
		margin-top: 0.3rem;



	}
	
	.botao{
		top: -4rem;
		left: 6.875rem;
	}
	

	.resultado{
		left: 10rem;
		
	}
}
	
