body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom right, #C66EE8, #FFCCE7);
	background-size: cover;
	height: 100%; 
	width: 100%;
	
	
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 55%;
    left: 92%;
    animation-duration: 51s;
    animation-delay: -29s;
    transform-origin: -4vw 8vh;
    box-shadow: -40vmin 0 5.380238613343092vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 23%;
    left: 60%;
    animation-duration: 47s;
    animation-delay: -1s;
    transform-origin: -3vw 10vh;
    box-shadow: -40vmin 0 5.108561975226975vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 90%;
    left: 75%;
    animation-duration: 16s;
    animation-delay: -25s;
    transform-origin: -4vw -5vh;
    box-shadow: -40vmin 0 5.083660497094531vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 35%;
    left: 95%;
    animation-duration: 48s;
    animation-delay: -23s;
    transform-origin: -12vw -4vh;
    box-shadow: 40vmin 0 5.971881606219967vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 25%;
    left: 39%;
    animation-duration: 10s;
    animation-delay: -5s;
    transform-origin: -16vw -13vh;
    box-shadow: -40vmin 0 5.255939165843834vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 77%;
    left: 90%;
    animation-duration: 51s;
    animation-delay: -43s;
    transform-origin: 11vw 7vh;
    box-shadow: 40vmin 0 5.400886594946817vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 69%;
    left: 45%;
    animation-duration: 50s;
    animation-delay: -16s;
    transform-origin: -8vw 14vh;
    box-shadow: -40vmin 0 5.420884964792148vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 53%;
    left: 21%;
    animation-duration: 17s;
    animation-delay: -19s;
    transform-origin: -14vw -1vh;
    box-shadow: -40vmin 0 5.343789230529679vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 37%;
    left: 59%;
    animation-duration: 27s;
    animation-delay: -20s;
    transform-origin: -17vw 15vh;
    box-shadow: 40vmin 0 5.396609011956495vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 37%;
    left: 83%;
    animation-duration: 13s;
    animation-delay: -49s;
    transform-origin: 14vw 20vh;
    box-shadow: -40vmin 0 5.359830437411201vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 99%;
    left: 49%;
    animation-duration: 37s;
    animation-delay: -2s;
    transform-origin: -1vw 19vh;
    box-shadow: 40vmin 0 5.515251535798602vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 1%;
    left: 19%;
    animation-duration: 13s;
    animation-delay: -34s;
    transform-origin: 19vw -20vh;
    box-shadow: -40vmin 0 5.4763389469615635vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 89%;
    left: 26%;
    animation-duration: 37s;
    animation-delay: -41s;
    transform-origin: 2vw -15vh;
    box-shadow: -40vmin 0 5.316701879561532vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 20%;
    left: 75%;
    animation-duration: 43s;
    animation-delay: -24s;
    transform-origin: 13vw -14vh;
    box-shadow: -40vmin 0 5.794306546432063vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 17%;
    left: 99%;
    animation-duration: 24s;
    animation-delay: -21s;
    transform-origin: 16vw 3vh;
    box-shadow: 40vmin 0 5.586673595181474vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 22%;
    left: 96%;
    animation-duration: 21s;
    animation-delay: -34s;
    transform-origin: -9vw 11vh;
    box-shadow: 40vmin 0 5.133791418804701vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 43%;
    left: 45%;
    animation-duration: 45s;
    animation-delay: -12s;
    transform-origin: 12vw -12vh;
    box-shadow: -40vmin 0 5.506366191053634vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 4%;
    left: 24%;
    animation-duration: 35s;
    animation-delay: -22s;
    transform-origin: -15vw 11vh;
    box-shadow: -40vmin 0 5.870901735066525vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 86%;
    left: 50%;
    animation-duration: 33s;
    animation-delay: -45s;
    transform-origin: -9vw 10vh;
    box-shadow: 40vmin 0 5.1814619076417845vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 17%;
    left: 31%;
    animation-duration: 8s;
    animation-delay: -24s;
    transform-origin: -1vw 7vh;
    box-shadow: 40vmin 0 5.309316346654413vmin currentColor;
}


.modal__meu {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content__meu {
  background-color: black;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 40%;
  opacity: 0.9;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.modal-texto {
	text-align: center;
	cursor: pointer;
  	font-weight: 700;
  	color:#DFD3C3;
}


.titulo{
	text-align: center;
	font-size: 50px;
	display: block;
  	position: relative;
  	font-weight: 700;
  	color:#DFD3C3;
  	
}


.triangulo{
	width: 22.5rem;
	display: flex;
	align-items: center;
	margin: 3rem auto auto auto;
	position: relative;

}


.inputA{
	cursor: pointer;
	display: block;
  	position: relative;
}

div.inputA span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.inputA span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.inputA span {
  visibility: visible;
  opacity: 0.9;
  top:-12rem;
  left:53%;
  z-index: 999;
}

.inputB{
	cursor: pointer;
	display: block;
  	position: relative;
}

div.inputB span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.inputB span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.inputB span {
  visibility: visible;
  opacity: 0.9;
  top:-6rem;
  left:40%;
  z-index: 999;
}


input{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.313rem;
	border: none;
	text-align: center;
	color: #355764;
	font-size: 16px;
	font-weight: 600;
}


input::placeholder{
	text-align: center;
	font-weight: 700; 
	color: #355764;
}

.aInput{
	position: relative;
	left: 54rem;
	top: -15.625rem;

}

.bInput{
	position: relative;
	left: 44rem;
	top: -9.5rem;

}

.botao{
	position: relative;
	width: 9.438rem;
	height: 2.5rem;
	border-radius: 0.313rem;
	border: 1px solid #355764;
	background-color: #C66EE8;
	color: black;
	left: 37rem;
	font-weight: 700;
	top:-2.5rem;
	

}

.botao:hover{
	background-color: #5C2E7E;
	color: #DFD3C3;
	cursor: pointer;
	transform: scale(1.2);
	transition: .5s;
}

.resultado{
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	left: 36rem;
	top: -22rem;
	border-radius: 0.313rem;
	background-color: #FFFFFF;
	cursor: pointer;
	display: block;
	
}

div.resultado span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #DFD3C3;
  padding: 0.313rem 0.625rem;
}
div.resultado span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  width: 0; height: 0;
  border-bottom: 0.5rem solid #000;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}
div:hover.resultado span {
  visibility: visible;
  opacity: 0.9;
  top:1rem;
  right: 1%;
  z-index: 999;
}

.texto{
	text-align: center;
	position: relative;
	top:12px;
	font-weight: 600;
	color: #355764;

}

@media only screen and (max-width: 2560px){
	.triangulo{
	margin: 8rem auto auto auto;

}

.titulo{
	
	margin-top: 4rem;
  	
}

.aInput{
	left: 72rem;

}


.bInput{
	left: 62rem;	
}

div:hover.inputB span {
  left:44%;

}

.botao{
	
	left: 56rem;
	
}

.resultado{
	
	left: 52rem;
		
}

}
@media only screen and (max-width: 1440px){
	.triangulo{
	margin: 8rem auto auto auto;

}

.titulo{
	
	margin-top: 2rem;
  	
}

.aInput{
	left: 58rem;

}


.bInput{
	left: 48rem;	
}

.botao{
	
	left: 40rem;
	
}

.resultado{
	
	left: 38rem;
		
}

}

@media only screen and (max-width: 1400px) {
	
.titulo{
	margin-top: 2rem;
}
h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

.triangulo{
	margin: 2rem auto auto auto;
}

	.aInput{
		left: 56rem;
		
	
	}
	
	.bInput{
		left: 45rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:40%;
  
}
	
	.botao{
		left: 38rem;
	}
	

	.resultado{
		left: 35rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}
}

@media only screen and (max-width: 1024px) {
	

h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

	.aInput{
		left: 45rem;
		
	
	}
	
	.bInput{
		left: 35rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:40%;
  
}
	
	.botao{
		left: 28rem;
	}
	

	.resultado{
		left: 25rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}


}

@media only screen and (max-width: 768px) {
	

.titulo{
	font-size: 35px;
	
}

h1.titulo span{
	right: 20%;
}

h1:hover.titulo span {
  right: 20%;
  
}

	.aInput{
		left: 36.25rem;
		
	
	}
	
	.bInput{
		left: 26rem;
		
	}

	div:hover.inputB span {
  	top:-6rem;
  	left:33%;
  
}
	
	.botao{
		left: 18.75rem;

	}
	

	.resultado{
		left: 17.5rem;	
	}

	div:hover.resultado span {
  	top:3rem;
  
}

 
}

@media only screen and (max-width: 425px) {
	

	.triangulo{
	width: 15rem;

}

.titulo{
	margin-top: 1rem;
}

h1.titulo span {
  font-size: 12px;
  
}

	.aInput{
		left: 20rem;
		margin-top: 2rem;

		
		
	
	}
	
	.bInput{
		left:15rem;
		margin-top: 0.3rem;



	}
	
	.botao{
		top: -5rem;
		left: 8rem;
	}
	

	.resultado{
		left: 10rem;
		
	}
}
	


@media only screen and (max-width: 375px) {
	

	.triangulo{
	width: 15rem;

}

.titulo{
	margin-top: 1rem;
}

h1.titulo span {
  font-size: 12px;
  
}

	.aInput{
		left: 19rem;
		margin-top: 2rem;

		
		
	
	}
	
	.bInput{
		left:14rem;
		margin-top: 0.3rem;



	}
	
	.botao{
		top: -7rem;
		left: 6.875rem;
	}
	

	.resultado{
		left: 10rem;
		
	}
}
	